@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

:root {
  --gradient: linear-gradient(to right, #fffbda, #ffec9e, #ffbb70, #ed9455);
}

.Title div {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ratoTitle h1 {
    background-image: var(--gradient);
  
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
    font-family: "Yuji Boku", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3.2em;
    margin-top: 1em;
  }

  @media (max-width: 768px) {
    .ratoTitle h1 {
      font-size: 2.5em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .ratoTitle h1 {
      font-size: 3em;
    }
  }
  
  @media (min-width: 1024px) {
    .ratoTitle h1 {
      font-size: 2em;
    }
  }